@{
    ViewBag.Title = "No Autorizado";
    Layout = "~/Views/Shared/_LayoutML.cshtml";
}

<div class="centered-h">
    <h2 class="InfoText">Usuario No Autorizado para acceso al Recurso Solicitado</h2>
</div>