@{
    ViewBag.Title = "Confirmación de cambio de contraseña";
}
<div class="container">
    <div class="row">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                La contraseña se cambio correctamente. Porfavor @Html.ActionLink("da click en el link para iniciar sesión en el sistema", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>