@{
    ViewBag.Title = "Contacto";
}
@*<h3>@ViewBag.Message</h3>*@

    <section>
        <div class="container">
            <div class="row">
                <div class="jumbotron" style="background-color:rgb(179, 213, 192)">
                    <h1>Ayuda</h1>
                    <p class="list-group-item-text">Sistema de Indices de Salud de Interruptores de Potencia </p>
                </div>
                <div class="list-group">
                    <a href="~/Documentacion/ManualSISIPv1_31_ene_2018.pdf" target="_blank" class="list-group-item">                        
                        <h4 class="list-group-item-heading">Manual de usuario</h4>
                        
                    </a>                   
                </div>
            </div>
        </div>
    </section>
